.divider {
  height: 1px;
  width: 80%;
  display: block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.alert{
  margin: 5px;
}


#signUpForm, #signInForm, #newProjectForm, #SshKeyListItem, #sshKeyForm, #collabForm{
  margin: 10px;
}
